body {
    background-image: url(../images/background.png);
    background-size:100%;
    width:100%;
}

header {
    text-align:center;
    width:100%
    }

main {
    
    width: auto;
    margin: 5%;
    background-image: url(../images/background2.png);
    opacity: 0.9;
    color: white;
    padding: 5%;
}

footer {
    clear: both;
    background-color:red;
    color:white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width:100%
   
}

.randomNumber {
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

#computerPick {
    margin:auto;
    color:red;
}

#masterKey {
    width: auto;
}

#crystalImage {
    clear: both;
}

#winCount {
    margin: 3%;
    background-color: grey;
    opacity: 0.8;
    padding: 50px;
    color:white;

}

#loseCount {
    margin: 3%;
    background-color: white;
    opacity: 0.8;
    padding: 50px;
    padding: 50px;
    color:red;
}
.score {
    font-family:courier;
    font-size: 24pt;
}
#computerNum {
    margin:5px;
    color:gold;

}