body {
    background-image: url(../images/background.png);
    background-size:100%;
    align-content:center;
    
}

header {
    text-align:center;
    }
main {
    float:left;
    width: 1000px;
    background-image: url(../images/background2.png);
    color: white;
    align-content:center;
    padding: 100px;
    margin-left: 500px;
}
footer {
    clear: both;
    background-color:red;
    color:white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
   
}
.randomNumber {
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
}
#computerPick {
    color:red;
    float:left;
}
#masterKey {
    float: left;
    margin-right: 10px;
    width:500px;
}
#crystalImage {
    clear: both;
}
sidebar {
    margin-left: 10px;
    padding: 45px;
    width: 350px;
    float:left;
    background-color: black;
    font-size:45pt;
    height:100%;
}
#winCount {
    padding: 50px;
    color:white;

}

#loseCount {
    padding: 50px;
    color:red;
}
.score {
    font-family:courier;
    font-size: 24pt;
}
#computerNum {
    margin:60px;
    color:gold;

}
